# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local uploads (temporary storage)
uploads/

# System files
.DS_Store
Thumbs.db

# Build / cache
dist/
build/
.cache/
